*{
    font-family: "bahnschrift";
    color: #d6d6d6;
    scrollbar-color: #29343f #0b141c;
    -webkit-tap-highlight-color: transparent;
}

@font-face{
    font-family: Bahnschrift;
    src: url('fonts/Bahnschrift.ttf');
}
@font-face{
    font-family: Samsung;
    src: url('fonts/samsungsharpsans-medium.otf');
}

body{
    background-color: #0b141c;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 12%;
    margin-right: 12%;
}

input[type="number"]{width: 70px;}

input[type="number"], select, input[type="color"], button{font-size: 100%;}

button, input[type="number"], label, select, input[type="color"]{
    background-color: #1c242c;
    border-radius: 0.5em;
    border-width: 0;
    color: white;
    padding: 0.65em;
    transition: background-color 0.3s;
    box-shadow: 0 0 1em 0 #000f11;
}

button:disabled, input[type="number"]:disabled, select:disabled, input[type="color"]:disabled{
    background-color: #171f27;
    cursor: default;
}

label{
    line-height: 2.5em;
    user-select: none;
}

button, input[type="checkbox"], label, select, input[type="color"]{cursor: pointer;}

input[type="number"]:focus, select:focus, input[type="color"]:focus{
    background-color: #29343f;
    outline: 0.15em solid #006ebc;
}

label:has(input[type="checkbox"]:checked){
    outline: 3px solid #006ebc;
    background-color: #29343f;
}

button:hover:not(:disabled), input[type="number"]:hover:not(:disabled), label:hover, select:hover:not(:disabled), input[type="color"]:hover:not(:disabled){
    background-color: #29343f;
}

input[type="color"]{
    height: 3em;
    width: 3em;
}

input[type="checkbox"]{
    appearance: none;
    margin: 0;
}

h1, h2, h3, h4, h5{color: white;}

td, th{
    padding: 5px;
    border: 1px solid white;
    width: 100px;
    height: 35px;
}

#table2{border-collapse: collapse;}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{-moz-appearance: textfield;}

#table{
    background-color: #0a1117;
    padding: 40px; border-radius: 20px;
    white-space: nowrap;
    overflow-x: scroll;
    user-select: none;
    box-shadow: 0 0 1.5em 0 #000f11;
}

#code{
    font-family: consolas;
    background-color: #0a1117;
    color: #569cd6;
    padding: 40px; border-radius: 20px;
    white-space: nowrap;
    overflow-x: scroll;
    box-shadow: 0 0 1.5em 0 #000f11;
}

#notif{
    border-radius: 8px;
    color: white;
    padding: 10px 12px;
    text-align: center;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transition: opacity 1s;
    width: 200px;
    margin-left: -100px;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

button{user-select: none;}

#previewh2, #codeh2{
    display: inline-block;
    margin: 0;
    background: linear-gradient(140deg, #006ebc, #6be6ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#plusminus, #sizeup, #sizedown{
    position: relative;
    top: 2px;
}

#triangle{
    width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 16px solid #1c242c;
    position: absolute;
    bottom: 80px;
    left: 79px;
    opacity: 0;
    transition: opacity 0.5s;
}

#regenerateinfo{
    background-color: #1c242c;
    border-radius: 8px;
    color: white;
    padding: 10px 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 150px;
    text-align: center;
    position: absolute;
    top: 55px;
    left: -15px;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

#regenerate{position: relative;}

#px, #px2, #px3{
    background-color: #171f27;
    border-radius: 0 8px 8px 0;
    color: #b6b9bb;
    padding: 0.75em;
    position: relative;
    z-index: -1;
    user-select: none;
    transition: 0.3s;
}

#colorchange{
    background-color: white;
    border-radius: 8px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 10px;
    top: 10px;
    outline: none;
}

#colorchange:checked{background-color: #0a1117;}

#title{
    text-align: center;
    font-family: Samsung;
    background: linear-gradient(140deg, #006ebc, #6be6ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-top: 2em;
    padding-bottom: 2em;
    display: inline-block;
    margin: 0;
}

#more{
    cursor: pointer;
    color: white;
    user-select: none;
    pointer-events: all;
}
#more:hover{font-weight: bold;}

#menu{
    height: 0;
    opacity: 0;
    transition: 0.5s ease-in-out;
    pointer-events: none;
    background-color: rgba(28, 36, 44, 0.75);
    border-radius: 0.5em;
    padding: 1.25em;
    display: block;
    float: right;
    box-shadow: 0 0 1em 0 #000f11;
    overflow: hidden;
    backdrop-filter: blur(0.5em);
}
#menu.open{
    height: 6em;
    opacity: 1;
    pointer-events: all;
}

#moreicon{
    color: white;
    font-size: 250%;
    text-shadow: 0 0 0.25em black;
    transition: text-shadow 0.3s;
}
#moreicon:hover{text-shadow: 0 0 0.25em white;}
#moreicon.open{animation: arropen 0.5s ease-in-out forwards;}
@keyframes arropen{
    from{transform: rotateX(0deg);}
    to{transform: rotateX(180deg);}
}
#moreicon.closed{animation: arrclose 0.5s ease-in-out forwards;}
@keyframes arrclose{
    from{transform: rotateX(180deg);}
    to{transform: rotateX(0deg);}
}

#menuframe{
    position: fixed;
    right: 13%;
    top: 3%;
    z-index: 2;
    pointer-events: none;
}

#menuclose{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
#menuclose.open{
    display: block;
}

a:not(a[class="fullscreenjson"]){
    background: linear-gradient(90deg, #006ebc, #6be6ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-decoration: none;
    transition: text-shadow 0.3s;
}
a:hover{text-shadow: 0 0 0.5em #6be6ff;}

i{color: white;}